.page { 
    align-items: center; 
    background-color: #FAFAFA; 
}

.header {
    display: none;
}

@media screen and (max-width: 800px) {
    .header {
        background-color: #273C7D;
        height: 90px;
        padding: 15px;
        display: block;
    }
 
}