.page { 
    align-items: center; 
    background-color: #FAFAFA; 
}

.headerSmall {
    display: none;
}

@media screen and (max-width: 800px) {
    .headerSmall {
        background-color: #273C7D;
        height: 70px;
        padding: 15px;
        display: block;
    }

    img {
        width: 50%; 
    }
 
}