<span class="margen-hotel">
    <div class="container1">
        <div class="row hotelClass">
            <div class="col-xs-12 col-md-4">
                <div class="row">
                    <img class="imageHotel" [src]=" filename || hotelItem.image" (error)="filename = '../../assets/images/hotels/not_yet.jpg' " > 
                </div>
            </div>
            <div class="col-xs-12 col-md-5 padding-5">
                <div class="row">
                    <span class="starFilter"> {{ hotelItem.name }}</span>
                </div>
                <div class="row">
                    <span *ngFor="let itemStar of stars" class="fa fa-star checked spanStarHotel"></span>
                </div>
                <div class="row">
                    <img *ngFor="let img of hotelItem.amenities" id="id_{{img}" src="../../assets//icons/amenities/{{img}}.svg" class="imagenAmenities">
                </div>
            </div>
            <div class="col-xs-12 col-md-3 magenDots">
                <div class="row center priceLabel">
                    <p>
                        <span class="">Precio por noche por habitaci&oacute;n</span>
                    </p>
                </div>
                <!-- <div class="row">
                    <div class="priceContainer1">
                        <span class="center" >
                            <p class="labelOragen">ARS</p>
                            <p class="priceOragen">{{ hotelItem.price }}</p>
                        </span>
                    </div>
                </div> -->
                <div class="row center">
                        <span class="labelOragen align-middle">
                            ARS
                        </span>
                        <span class="priceOragen">{{ hotelItem.price }}</span>
                    </div>
                <div class="row center">
                    <input type="button" class="buttonHotel" value="Ver hotel">
                </div>
            </div>
        </div>
    </div>
</span>