<span class="margen-hotel">
    <div class="container1">
        <div class="row hotelClass">
            <div class="col-xs-12 col-md-4">
                <div class="row">
                    <img src="{{ hotelItem.image }}" class="imageHotel">
                </div>
            </div>
            <div class="col-xs-12 col-md-5 padding-5">
                <div class="row">
                    <span class="starFilter"> {{ hotelItem.name }}</span>
                </div>
                <div class="row">
                    <span *ngFor="let itemStar of stars" class="fa fa-star checked spanStarHotel"></span>
                </div>
                <div class="row">
                    <img *ngFor="let img of hotelItem.amenities" src="../../assets//icons/amenities/{{img}}.svg" alt="img" class="imagenAmenities">
                </div>
            </div>
            <div class="col-xs-12 col-md-3 magenDots">
                <div class="row center priceLabel">
                    <p>
                        <span class="">Precio por noche por habitaci&oacute;n</span>
                    </p>
                </div>
                <div class="row center">
                    <span class="labelOragen">ARS</span>
                    <span class="priceOragen">{{ hotelItem.price }}</span>
                </div>
                <div class="row center">
                    <input type="button" class="buttonHotel" value="Ver hotel">
                </div>
            </div>
        </div>
    </div>
</span>