<div class="hotelClass row">
    <div class="col-xs-12 col-md-4">
        <div class="row">
            <img class="imageHotel" [src]=" filename || hotelItem.image" (error)="filename = '../../assets/images/hotels/not_yet.jpg' ">
        </div>
    </div>
    <div class="col-xs-12 col-md-5 padding-5">
        <div class="row">
            <span class="starFilter"> {{ hotelItem.name }}</span>
        </div>
        <div class="row">
            <span *ngFor="let itemStar of stars" class="fa fa-star checked spanStarHotel"></span>
        </div>
        <div class="row">
            <img *ngFor="let img of hotelItem.amenities" id="id_{{img}" src="../../assets//icons/amenities/{{img}}.svg" class="imagenAmenities">
        </div>
    </div>
    <div class="col-xs-12 col-md-3 magenDots">
        <div class="row center priceLabel">
            <p>
                <span class="">Precio por noche por habitaci&oacute;n</span>
            </p>
        </div>
        <div class="row center">
            <span class="labelOragen">
                ARS
            </span>
            <span class="priceOragen">{{ hotelItem.price }}</span>
        </div>
        <div class="row center">
            <input type="button" class="buttonHotel" value="Ver hotel">
        </div>
    </div>
</div>