<div class="row">
    <div class="col-xs-12">
        <div class="filterBorder filterTop">
            <div class="row">
                <div class="filterTitle col-xs-12">
                    <span class="filterTitle">Filtros</span>
                </div>
                <div class="filterResponse center col-xs-12">
                    <span *ngIf=" showFilterAll == false " (click)="toggleFilterAll()">
                        <span class="filtercenter">Filtrar</span>
                        <i class="fa fa-caret-down caretUp"></i>
                    </span>
                    <span *ngIf=" showFilterAll == true " (click)="toggleFilterAll()">
                        <span class="filtercenter">Filtrar</span>
                        <i class="fa fa-caret-up caretUp"></i>
                    </span>
                </div>
            </div>
        </div>
        <span class="filterResponse">
            <div *ngIf=" showFilterAll == true " class="filterBorder">
                <div class="row padding-5">
                    <div class="col-xs-10">
                        <span class="fa fa-search checkFilter"></span>
                        <span class="starFilter"> Nombre del hotel</span>
                    </div>
                    <div class="col-xs-1">
                        <span *ngIf=" showFilterName == false ">
                            <i class="fa fa-caret-down caretUp" (click)="toggleFilterName()"></i>
                        </span>
                        <span *ngIf=" showFilterName == true ">
                            <i class="fa fa-caret-up caretUp" (click)="toggleFilterName()"></i>
                        </span>
                    </div>
                </div>
                <div *ngIf=" showFilterName == true " class="row padding-5">
                    <input type="text" class="hotelByName" (keyup)="onKeyFindHotelByName()" [(ngModel)]="findHotelName" placeholder="Ingrese el nombre del hotel">
                    <input type="button" class="button" (click)="onKeyFindHotelByName()" value="Aceptar">
                </div>
            </div>
            <div *ngIf=" showFilterAll == true " class="filterBorder">
                <div class="row padding-5">
                    <div class="col-xs-10">
                        <span class="fa fa-star checkFilter"></span>
                        <span class="starFilter">Estrellas</span>
                    </div>
                    <div class="col-xs-1">
                        <span *ngIf=" showFilterStar == false ">
                            <i class="fa fa-caret-down caretUp" (click)="toggleFilterStar()"></i>
                        </span>
                        <span *ngIf=" showFilterStar == true ">
                            <i class="fa fa-caret-up caretUp" (click)="toggleFilterStar()"></i>
                        </span>
                    </div>
                </div>
                <div *ngIf=" showFilterStar == true " class="row">
                    <div class="col-xs-12">
                        <ul class="padding-left0">

                            <li>
                                <input type="checkbox" (change)="checkAllStars($event.target.checked)" [(ngModel)]="checkedAll" [checked]="checkedAll">
                                <span class="bold-smaller">Todas las estrellas</span>
                            </li>
                            <li *ngFor="let item of startslList">
                                <span class="fa checked">
                                    <input id={{item.stars.length}} type="checkbox" value="{{item.id}}" (change)="checkStars($event.target.value, $event.target.checked)"
                                        [checked]=" item.checked == true " class="checkedBox">
                                </span>
                                <span *ngFor="let itemStar of item.stars" class="fa fa-star checked spanStar"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </span>
        <span class="filterTitle">
            <div class="filterBorder ">
                <div class="row padding-5">
                    <div class="col-xs-10">
                        <span class="fa fa-search checkFilter"></span>
                        <span class="starFilter"> Nombre del hotel</span>
                    </div>
                    <div class="col-xs-1">
                        <span *ngIf=" showFilterName == false ">
                            <i class="fa fa-caret-down caretUp" (click)="toggleFilterName()"></i>
                        </span>
                        <span *ngIf=" showFilterName == true ">
                            <i class="fa fa-caret-up caretUp" (click)="toggleFilterName()"></i>
                        </span>
                    </div>
                </div>
                <div *ngIf=" showFilterName == true " class="row padding-5">
                    <input type="text" class="hotelByName" (keyup)="onKeyFindHotelByName()" [(ngModel)]="findHotelName" placeholder="Ingrese el nombre del hotel">
                    <input type="button" class="button" (click)="onKeyFindHotelByName()" value="Aceptar">
                </div>
            </div>
            <div class="filterBorder">
                <div class="row padding-5">
                    <div class="col-xs-10">
                        <span class="fa fa-star checkFilter"></span>
                        <span class="starFilter">Estrellas</span>
                    </div>
                    <div class="col-xs-1">
                        <span *ngIf=" showFilterStar == false ">
                            <i class="fa fa-caret-down caretUp" (click)="toggleFilterStar()"></i>
                        </span>
                        <span *ngIf=" showFilterStar == true ">
                            <i class="fa fa-caret-up caretUp" (click)="toggleFilterStar()"></i>
                        </span>
                    </div>
                </div>
                <div *ngIf=" showFilterStar == true " class="row">
                    <div class="col-xs-12">
                        <ul class="padding-left0">

                            <li>
                                <input type="checkbox" (change)="checkAllStars($event.target.checked)" [(ngModel)]="checkedAll" [checked]="checkedAll">
                                <span class="bold-smaller">Todas las estrellas</span>
                            </li>
                            <li *ngFor="let item of startslList">
                                <span class="fa checked">
                                    <input id={{item.stars.length}} type="checkbox" value="{{item.id}}" (change)="checkStars($event.target.value, $event.target.checked)"
                                        [checked]=" item.checked == true " class="checkedBox">
                                </span>
                                <span *ngFor="let itemStar of item.stars" class="fa fa-star checked spanStar"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </span>
    </div>
</div>