.starFilter {
    color: #2F76B1;
    font-weight: bold;
    padding-left: 1px;
    font-size: smaller;
}
.checkFilter {
    color: #2F76B1;
    font-size: smaller;
}
.padding-5 {
    padding: 8px 10px 15px 5px;
}
.buttonFilter {
    background-color: #192877;
    border-left: none;
    border-right: none;
    border-right-color: #192877;
    color: #ffffff;
    height: 31px;
    margin: none;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-radius: 2px;
    border-top: solid #192877;
    border-top-width: 9px;
    font-size: small;
    padding: 0px 8px 6px;
    
}
.hotelByName {
    font-size: small;
    font-weight: normal;
    padding: 1px 8px;
    height: 27px;
    max-width: 134px;
    margin-left: 10px;
    margin-right: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #c4c3c3;
    border-top-width: 2px;
    border-top-color: rgb(148, 147, 147);
    border-radius: 2px;
    background: rgba(252,252,252,1);
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
.bold-smaller {
    font-weight: bold;
    font-size: smaller;
}
.caretUp {
    padding-left: 10px;
    color: #2F76B1;
    font-size: medium;
    cursor: pointer;
}
ul{
    list-style-type:none;
}
li{
    padding: 5px;
}
.spanStar {
    padding: 3px;
    font-size: smaller;
}
span {
    vertical-align: middle;
    line-height: 14px;
}
.padding-left0 {
    padding-left: 0px;
}
.marginTop {
    margin-top: 20px;
}
.filterBorder {
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,.1);
    margin-bottom: 8px;
    padding: 10px;
    background-color: white;
    font-weight: bold;
}
.filterTop {
    margin-top: 20px;
}
.checked {
    color: #f8bb00;
}
.filterResponse {
    display: none;
}
.center {
    text-align: center;
}
@media screen and (max-width: 800px) {
    .filterBorder {
        margin: 10px 0px;
   }
    .filterTop {
        margin-top: 0px;
   }
    .filterTitle {
        display: none;
   }
    .filterResponse {
        display: inline;
        color: #2F76B1;
        cursor: pointer;
        padding: 14px 0px 14px;
        background-color: white;
   }
    .filterBorder {
        box-shadow:none ;
        margin-bottom: 0px;
        width: 100%;
        padding: 0px;
        background-color: none;
        font-weight: bold;
   }
    .filtercenter {
        width: 100px;
        height: 40px;
   }
    .filterBorder {
        box-shadow: none;
        margin-bottom: 20px 0px 0px 0px;
        padding: 10px 0px 0px 0px;
        background-color: #FAFAFA;
        font-weight: bold;
   }
}
